@page
@model ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" model="@Model.StatusMessage" />

<div class="row">
    <div class="col-md-8">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <!-- Add hidden field for UserId -->
            <input asp-for="UserProfile.UserId" type="hidden" />
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="UserProfile.FirstName" class="form-control" placeholder="First Name" />
                        <label asp-for="UserProfile.FirstName" class="form-label"></label>
                        <span asp-validation-for="UserProfile.FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="UserProfile.LastName" class="form-control" placeholder="Last Name" />
                        <label asp-for="UserProfile.LastName" class="form-label"></label>
                        <span asp-validation-for="UserProfile.LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="UserProfile.ManagerFirstName" class="form-control" placeholder="Manager First Name" />
                        <label asp-for="UserProfile.ManagerFirstName" class="form-label"></label>
                        <span asp-validation-for="UserProfile.ManagerFirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="UserProfile.ManagerLastName" class="form-control" placeholder="Manager Last Name" />
                        <label asp-for="UserProfile.ManagerLastName" class="form-label"></label>
                        <span asp-validation-for="UserProfile.ManagerLastName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            
            <div class="form-floating mb-3">
                <input asp-for="UserProfile.ManagerEmailAddress" class="form-control" type="email" placeholder="Manager Email Address" />
                <label asp-for="UserProfile.ManagerEmailAddress" class="form-label"></label>
                <span asp-validation-for="UserProfile.ManagerEmailAddress" class="text-danger"></span>
            </div>
            
            <div class="form-floating mb-3">
                <input asp-for="UserProfile.OpenShiftProject" class="form-control" placeholder="OpenShift Project" />
                <label asp-for="UserProfile.OpenShiftProject" class="form-label"></label>
                <span asp-validation-for="UserProfile.OpenShiftProject" class="text-danger"></span>
            </div>
            
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Update Profile</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}